.btn {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-dark);

  margin: 0.5rem;
  padding: 0.5rem 1rem;

  font-size: calc(1rem + 0.5rem);
  text-decoration: none;
  font-weight: 600;

  outline: none;
  appearance: none;
  border-style: none;
  border-radius: 10px;

  transition: all 0.3s linear;

  &:hover {
    background-color: var(--color-dark-blue);
    transform: scale(0.9);
  }

  &--succes {
    background-color: var(--color-green);
  }
}
