/* AboutMe */
.aboutMe {
  width: 100%;
  // position: relative;

  &__text {
    margin: 1rem;
    text-align: center;

    &--title {
      font-size: calc(1.5rem + 1vw);
      font-style: italic;
    }
    &--sub {
      font-size: calc(1rem + 0.2vw);
    }
  }

  &__content {
    display: flex;
    padding: 1rem;

    &-box {
      width: 30%;

      text-align: center;
      &--img {
        max-width: 100%;
        align-self: flex-start;
      }
    }

    &-text {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      // display: flex;
      &--p {
        margin-bottom: 1rem;
      }
    }

    &-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &--title {
        width: 100%;
        text-align: center;
      }
      &-section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        &--card {
          margin: 1rem;
          text-align: center;
          &--img {
            height: 200px;
          }
        }
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 565px) {
      flex-direction: column;
      overflow: hidden;

      &-box {
        width: 100%;
      }
      &-text {
        width: 100%;
      }
      &-services {
        &-section {
          flex-direction: column;
        }
      }
    }
  }

  &__other {
    width: 100%;
    // position: relative;

    // height: 100vh;
    background-color: var(--color-dark-blue);
    color: var(--color-white);

    &--title {
      font-size: calc(1.5rem + 1vw);
      text-align: center;
      padding: 1rem;
    }
    &--subtitle {
      font-size: calc(1rem + 0.5vw);
      text-align: center;
      padding: 1rem;
    }
    &--content {
      // position: relative;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
