:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #282c34;
  --color-gray: #ccc;
  --color-blue-light: #50bbd7;
  --color-blue-medium: #346e9f;
  --color-blue: #1f5faa;
  --color-blue-dark: #1f2472;
  --color-dark-blue: #0c0725;
  --color-green: #01c48a;
  --color-green-dark: #56a344;
  --color-yellow: #f0db4f;
  --color-orange: #fd7e14;
  --color-orange-dark: #eb4d28;
  --color-purple: #777bb3;
  --color-lile: #9d56f7;
  --color-rose: #c76494;
}
